body {
  font-family: "Radley";
}

h1 {
  font-family: "Space mono", serif;
}

h2 {
  font-family: "Space mono", serif;
}

h3 {
  font-family: "Space mono", serif;
}

.button {
  display: inline-block;
  padding: 6px 15px;
  border: 0.16em solid #c7bfbf;
  text-align: center;
  font-family: "Radley";
  transition: all 0.15s;
  border-radius: 7px;
  position: relative;
}

label {
  display: block;
  position: relative;
  height: 1em;
  padding-left: 4rem;
  margin-bottom: 1.75rem;
  letter-spacing: 1px;
}
.inputText {
  display: flex;
  align-items: center;
  height: 1.5em;
  width: 18em;
  margin-left: 4rem;
  margin-bottom: 1.5em;
  letter-spacing: 1px;
  border-radius: 3px;
}

#comprehensionReadingTest {
  display: none;
}

.wordArticle {
  display: inline;
}
